body {
  text-align: center;
  background-color: aqua;
}
h1 {
  color: #d54d7b;
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  line-height: 5vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: 0.4vw 0.4vw 0.4vw brown;
}
.game-area {
  display: flex;
  flex-direction: row;
  margin: 0px 2vw 1.5vw 2vw; /*top right bottom left*/
  height: max-content;
}
.playground {
  background-color: pink;
  flex: 20%;
  height: 30vw;
  padding: 2vw;
  border-radius: 1.5vw;
  margin: 2vw 4vw 2vw 10vw;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 1.5vw;
  box-shadow: 2vw 2vw 2vw brown;
  border: solid black 2px;
}
.cell {
  font-family: "Permanent Marker", cursive;
  cursor: pointer;
  font-size: 6vw;
  font-weight: bold;
  background-color: salmon;
  margin: 0.5vw;
  padding: 0px;
  border-radius: 2vw;
  height: 9vw;
  width: 10vw;
  text-shadow: 0.5vw 0.5vw 0.5vw brown;
  box-shadow: 1vw 1vw 1vw 0.5vw brown;
}
.cell:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.terminal {
  flex: 12%;
  height: 30vw;
  padding: 2vw;
  border-radius: 1.5vw;
  margin: 2vw 10vw 2vw 1vw;
  background-color: pink;
  border-radius: 1.5vw;
  box-shadow: 2vw 2vw 2vw brown;
  border: solid black 2px;
}
button,
.gameOption,
#score {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  background-color: aqua;
  color: #d54d7b;
  font-weight: bold;
  border-radius: 1.5vw;
  border: none;
  margin: 1.5vw;
  padding: 1vw;
  text-shadow: 0.15vw 0.15vw 0.15vw brown;
  box-shadow: 2vw 2vw 2vw brown;
}

button:hover {
  background: seashell;
  color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}

input:hover,
label:hover,
input:checked {
  color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}

p {
  margin: 0px;
}
#score h4 {
  padding: 0px;
  margin: 0vw;
}
.player {
  display: inline-block;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  margin-bottom: 0.7vw;
}

.score-box,
#status {
  padding: 0.4vw;
  color: black;
  border-radius: 1vw;
  margin: 0.5vw;
  background-color: burlywood;
  text-shadow: 0.15vw 0.15vw 0.15vw brown;
  box-shadow: 0.5vw 0.5vw 0.5vw brown;
}
#status {
  height: 4vw;
  text-align: center;
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin: 0px;
    text-shadow: 2px 2px 2px brown;
  }
  .game-area {
    display: flex;
    flex-direction: column;
  }
  .playground {
    background-color: pink;
    height: 200px;
    width: 200px;
    padding: 14px;
    border-radius: 10px;
    margin: 14px 35px 14px 35px; /*top right bottom left*/
    box-shadow: 14px 14px 14px brown;
    border: solid black 2px;
  }
  .cell {
    font-size: 35px;
    margin: 2px;
    padding: 0px;
    border-radius: 14px;
    height: 60px;
    width: 60px;
    text-shadow: 3px 3px 3px brown;
    box-shadow: 6px 6px 6px 3px brown;
  }
  .terminal {
    height: 278px;
    width: 200px;
    padding: 14px;
    border-radius: 10px;
    margin: 14px 35px 14px 35px;
    border-radius: 10px;
    box-shadow: 14px 14px 14px brown;
  }
  button,
  .gameOption,
  #score {
    font-size: 15px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding: 6px;
    text-shadow: 1px 1px 1px brown;
    box-shadow: 14px 14px 14px brown;
  }
  .player {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .score-box,
  #status {
    padding: 3px;
    border-radius: 6px;
    margin: 4px;
    text-shadow: 1px 1px 1px brown;
    box-shadow: 4px 4px 4px brown;
  }
  #status {
    height: 40px;
    text-align: center;
  }
}
